body {
  background-image: url(./images/bg-beige.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* File: font.css */
@font-face {
  font-family: norse;
  src: url("./font/Norse-KaWl.otf");
}
@font-face {
  font-family: norseBold;
  src: url("./font/NorseBold-2Kge.otf");
}

.header {
  position: relative;
}

header h1 {
  position: absolute;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#headerImage {
  height: 6rem;
  width: 20rem;
  /* transform: rotate(180deg); */
  transform: scaleY(-1) translateY(-20px);
  position: absolute;
  right: 0;
  z-index: 0;
}

.listBox .MuiPaper-root {
  background-image: url("./images/oldTimeyPaper.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 400px 120%;
  background-attachment: local;
  background-position-x: right;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: norse !important;
}

button.MuiButton-containedSuccess {
  background: rgb(136, 81, 35);
}

button.MuiButton-containedSuccess:hover {
  background: rgb(136, 81, 35);
  filter: brightness(85%);
}

button.MuiButton-outlinedSuccess {
  border-color: rgb(136, 81, 35);
  color: rgb(136, 81, 35);
}

button.MuiButton-outlinedSuccess:hover {
  border-color: rgb(136, 81, 35);
  background-color: rgb(136, 81, 35, 0.04);
  filter: brightness(85%);
}

button.MuiButton-containedPrimary {
  background: rgb(227 125 0);
}

button.MuiButton-containedPrimary:hover {
  background: rgb(227 125 0);
  filter: brightness(85%);
}

.border-corner {
  width: 60px;
  height: 60px;
}

#border-corner1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

#border-corner2 {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(90deg);
}

#border-corner3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: rotate(-90deg);
}

#border-corner4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.order-btn {
  transition: 300ms !important;
}

.orderBtnDes {
  transform: rotate(180deg);
}
